---
layout: page
title: "All in Automation"
---
{% include JB/setup %}

<div class="row">
  <div class="span12">
    <div class="row">
      <div class="span9">
        {% for post in paginator.posts %}
        <div class="row">
          <div class="span8">
            <h2><a class="post-title" href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }} </a></h2>
            <h4 class="info">
              [ {{ post.date | date: "%Y-%m-%d" }}
               | 文: <a href="{{ post.author_blog }}">{{ post.author }}</a> ]
            </h4>
            <br />

            <div class="thumbnail-container">
              <img src="{{ post.thumbnail }}" alt=""/>
              <p class="abstract">{{ post.abstract }}</p>
              <a href="{{ BASE_PATH }}{{ post.url }}">阅读全文>></a>
            </div>
          </div>
        </div>
        <hr>
        {% endfor %}

	<div style="float:right;margin-right:15px" class="paginate">
	<span class="pre_page">
	{% if paginator.previous_page %}
	{% if paginator.previous_page == 1 %}
	<a href="/" class="current">前一页</a>
	{% else %}
	<a href="/page{{paginator.previous_page}}">前一页</a>
	{% endif %}
	{% else %}
	<span class="page_disable">前一页</span>
	{% endif %}
	</span>

	<span class="pages">
	{% if paginator.page == 1 %}
    	<span class="curr_page">1</span>
        {% else %}
        <a href="{{ BASE_PATH }}/">1</a>
        {% endif %}

	{% for count in (2..paginator.total_pages) %}
        {% if count == paginator.page %}
        {{count}}
        {% else %}
        <a href="{{{{ BASE_PATH }}/page{{count}}">{{count}}</a>
        {% endif %}
        {% endfor %}
	</span>
	<span class="next_page">
	 {% if paginator.next_page %}
            <a href="{{ site.baseurl }}/page{{paginator.next_page}}">后一页</a>
            {% else %}
            <span class="next_disable">后一页</span>
            {% endif %}
	</span>
	</div>
      </div>

      <div class="span3">
        {% include JB/sidebar %}
      </div>
    </div>
  </div>
</div>
